html, body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: Arial;
}

.blackbar {
	background-color: #00122f;
	color: white;
	padding-top: 19px;
	padding-bottom: 18px; 
	font-size: 16px;
	letter-spacing: -0.32px;
	width: 100%;
}

.blackbar a {
	color: white;
}

.fixed-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1000px;
	padding: 0;
	margin: 0 auto;
}

.mainwords {
	padding: 0;
	margin: 0;
}

.header {padding-bottom: 34px;}

.header-left {
	display: flex;
	align-items: center;
}

.header-right {
	display: flex;
	align-items: center;
}

.burger-icon {display: none;}

.burger-icon span {
	display: block;
	height: 2px;
	width: 20px;
	background-color: black;
}

.burger-icon span:nth-child(2) {
	margin: 5px 0;
}

.close-icon {
	width: 18px;
	padding-top: 12px;
}

.close-icon span {
	position: absolute;
	display: block;
	height: 1px;
	width: 20px;
	background-color: black;
}

.close-icon span:first-child {
	transform: rotate(45deg);
}

.close-icon span:last-child {
	transform: rotate(-45deg);
}

.fixed-container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1000px;
	padding: 0;
	margin: 0 auto;
	margin-top: 39px;
}

.moscow {
	padding-right: 18px;
	padding-left: 59px;
	background-image: url(https://image.flaticon.com/icons/svg/118/118738.svg);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 7%;
	text-decoration: none;
}

.block-weather {margin-right: 37px;}

.small-logo {display: none;}

.logo-words {display: none;}

.weather {
	color: #91919f;
	background-image: url("img/cloudy.png");
	background-repeat: no-repeat;
	padding: 4px 2px 9px 38px;
}

.block-search {
	margin-left: 10px;
}

.search {
	position: relative;
	width: 319px;
	height: 46px;
}

.search input {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	background-color: #f6f6f6;
	border-radius: 25px;
	border: none;
}

.search-button {
	position: absolute;
	top: 47%;
	transform: translateY(-50%);
	right: 13px;
	width: 30px;
	height: 30px;
	background-image: url('https://banner2.kisspng.com/20180324/ukw/kisspng-magnifying-glass-computer-icons-magnifier-loupe-5ab62e7a2951b1.3568255815218888901693.jpg');
	background-size: 49%;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.search-button-mobile {display: none;}

.date-mobile {display: none;}

.time-mobile {display: none;}

.menu-container {padding-bottom: 32px;}

.mobile-menu {display: none;}

.fixed-container-main {
	width: 100%;
	max-width: 1000px;
	padding: 0;
	margin: 0 auto;
}

.main-menu {display: flex;}

nav ul {
	list-style-type: none;
	font-size: 0;
	padding-left: 0;
}

nav ul li a {
	margin-right: 44px;
	font-size: 16px;
	color: #000;
	position: relative;
	text-decoration: none;
	letter-spacing: -0.55px
}

nav ul li a::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: #bfbfbf;
	display: block;
	right: -23px;
	top: 50%;
	transform: translateY(-50%) rotate(13deg);
}

nav ul li:last-child a:after {display: none;}

.main-container {
	background-color: #f9f9f9;
	padding-top: 21px;
	box-shadow: 0px 12px 16px 5px #f1f1f1 inset;
	padding-bottom: 53px;
}

.top-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.right-section {margin-top: 0;}

.hidden-h2 {
	font-size: 0px;
	padding: 0;
	margin: 0;
}

.left-section {
	width: 250px;
	background-color: white;
}

.day-news {
	font-size: 20px;
	padding: 8px 0 22px 17px;
	margin-bottom: 30px;
	letter-spacing: -0.4px;
	border-bottom: 1px solid #ebebeb;
}

.news-item {
	padding-left: 18px;
	margin-bottom: 23px;
}

.news-item-text {
	width: 220px;
	margin-bottom: 13px;
	padding-right: 24px;
	font-size: 14px;
	letter-spacing: 0.3px;
	font-weight: 400;
	line-height: 20px;
}

.news-item-text a {text-decoration: none; color: black;}

.news-item-props {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	width: 195px;
	position: relative;
}

.news-item-props a {color: #91919f; text-decoration: none;}

.time_and_comments {
	display: flex;
	justify-content: space-between;
}
	
.news-time {
	top: 0;
	left: 120px;
	padding-left: 15px;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
}

.news-comments-count {
	top: 0;
	left: 180px;
	background-image: url('img/chat-icon.png');
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 20px;
}

.all-news-button {
	text-align: center;
	margin-top: 51px;
}

.all-news-button a {
	text-decoration: none;
	border-radius: 23px;
	border: 1px solid;
	color: #448ccb;
	font-size: 14px;
	font-weight: normal;
	padding-left: 48px;
	padding-right: 50px;
	padding-top: 13px;
	padding-bottom: 14px;
	letter-spacing: -0.28px;
}

.advert-up {
	padding-bottom: 17px;
}

.advert-down {padding: 0}

.main-news {
	width: 100%;	
	margin: 0 auto;
	position: relative;
}

.main-news img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.text {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	color: #fff;
	padding: 110px 20px 20px 20px;
}

.category {
	margin-top: 92px;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
}

.title {
	margin-top: 16px;
	margin-bottom: 21px;
	padding: 0;
	line-height: 35px;
	letter-spacing: -0.6px;
	font-weight: bold;
	font-size: 30px;
	border: none;
}

.title a {text-decoration: none; color: white;}

.props {display: flex;}

.date-central {
	font-size: 12px;
	letter-spacing: -0.24px;
}

.time {
	font-size: 12px;
	margin-left: 21px;
	background-image: url('img/clock-white.png');
	background-repeat: no-repeat;
	padding-left: 14px;
}

.other-news {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;	
	width: 463px;
	margin-top: 14px;
}

.other-news-text {
	margin-top: 0;
	margin-bottom: 12px;
	padding-right: 16px;
	padding-top: 2px;
	font-size: 14px;
	letter-spacing: -0.28px;
	font-weight: bold;
	line-height: 20px;
}

.other-news-text a {text-decoration: none; color: black;}

.news-item__props {display: flex;}

.other-news-category {
	color: grey;
	text-decoration: none;
	font-size: 12px;
	padding-left: 3px;
}

.other-news-time {
	margin-left: 13px;
	padding-left: 15px;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
	font-size: 12px;
}

.other-news-comments {
	text-decoration: none;
	background-image: url('img/chat-icon.png');
	background-repeat: no-repeat;
	margin-left: 17px;
	padding-left: 16px;
	font-size: 12px;
}

.other-news-item1 {
	width: 223px;
	margin-right: 19px;
}

.other-news-item2 {width: 221px;}

.other-news-item3 {
	width: 223px;
	margin-right: 19px;
	margin-top: 19px;
}

.other-news-item4 {
	width: 221px;
	margin-top: 19px;
}

.bottom-section {
	display: flex;
	margin-top: 15px;
	width: 100%;
	max-width: 1000px;
	padding: 0; 
}

.btm-left-block {
	width: 588px;
	position: relative;
	vertical-align: top;
}

.btm-left-block img {
	object-fit: cover;
	width: 100%;
}

.btm-left-text {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	color: #fff;
	padding-top: 102px;
	padding-left: 20px;
}

.btm-left-category {
	font-size: 12px;
	margin-top: 85px;
	color: white;
	text-decoration: none;
}

.btm-left-title {
	margin-top: 20px;
	margin-bottom: 11px;
	width: 410px;
	padding: 0;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -0.6px;
	line-height: 35px;
	border: none;
}

.btm-left-title a {text-decoration: none; color: white;}

.btm-left-props {display: flex;}

.detailed-news {
	width: 485px;
	font-size: 14px;
	font-weight: normal;
	margin-top: 22px;
	letter-spacing: -0.28px;
	line-height: 20px;
}

.detailed-news a {
	text-decoration: none;
	color: white;
}

.btm-right-block {
	width: 412px;
	height: 393px;
	vertical-align: top;
	background-color: white;
}

.btm-day-news {
	font-size: 20px;
	padding: 10px 0px 22px 18px;
	margin-bottom: 17px;
	letter-spacing: -0.4px;
	border-bottom: 1px solid #ebebeb; 
}

.btm-news-item {padding-left: 18px;}

.btm-news-blocks {margin-bottom: 32px; margin-top: 26px;}

.btm-news-blocks:nth-child(2) {margin-bottom: 22px;}

.btm-news-blocks:nth-child(3) {margin-top: 19px;}

.btm-news-item-text {
	font-size: 16px;
	width: 370px;
	margin-bottom: 13px;
	padding-right: 24px;
}

.btm-news-item-text a {
	text-decoration: none; 
	color: black;
	font-weight: 400;
	font-weight: bold;
	letter-spacing: -0.32px;
	line-height: 22px;
}

.btm-news-item-props {
	display: flex;
	font-size: 12px;
	width: 163px;
	position: relative
}

.btm-news-item-props a {color: #91919f; text-decoration: none;}

.btm-news-time {
	top: 0;
	left: 120px;
	margin-left: 15px;
	padding-left: 15px;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
}

.btm-news-comments-count {
	top: 0;
	left: 180px;
	background-image: url('img/chat-icon.png');
	background-repeat: no-repeat;
	padding-left: 13px;
	margin-left: 20px;
}

.footer {background-color: #00122f;}

.footer-container {
	display: flex;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	padding: 0;
}

.footer-up {padding-bottom: 40px;}

.footer-left-part {
	display: flex;
	justify-content: space-between;
}

.footer-menu-left {
	padding-top: 55px;
	width: 80px;
	vertical-align top;
}

.footer-menu-left a {color: white; text-decoration: none;}

.footer-menu-left li {list-style-type: none; margin-bottom: 15px;}

.footer-menu-left ul {padding: 0; margin: 0;}

.footer-menu-right {
	padding-top: 55px;
	width: 100px;
	margin-left: 57px;
}

.footer-menu-right a {color: white; text-decoration: none;}

.footer-menu-right li {list-style-type: none; margin-bottom: 15px;}

.footer-menu-right ul {padding: 0; margin: 0;}

.footer-right-part {display: flex;}

.about-us {
	width: 170px;
	vertical-align: top;
	padding-top: 60px;
	margin-left: 197px;
}

.about-us-menu ul {padding-left: 0px;}

.about-us-menu li {
	 list-style-type: none;
	 margin-bottom: 14px;
	 margin-left: 3px;
	 letter-spacing: -0.32px;}

.about-us-menu a {color: white; text-decoration: none;}

.contacts-container {
	display flex;
	font-size: 0;
	width: 223px;
	vertical-align: top;
	padding-top: 56px;
	margin-left: 172px;
}

.contacts-container a {color: white; text-decoration: none;}

.contacts-container li {list-style-type: none; color: white; margin-bottom: 24px;}

.contacts-container ul {padding-left: 0px;}

.social-webs {display: flex;}

.vk {
	width: 38px;
	height: 38px;
	margin-right: 20px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	color: white;
}

.vk-logo {padding-left: 8px; padding-top: 13px;}

.facebook {
	width: 38px;
	height: 38px;
	margin-right: 21px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	color: white;
	vertical-align: top;
}

.facebook-logo {padding-left: 13px; padding-top: 9px;}

.twitter {
	width: 38px;
	height: 38px;
	margin-right: 21px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	color: white;
	vertical-align: top;
}

.twitter-logo {padding-left: 10px; padding-top: 10px;}

.instagram {
	width: 38px;
	height: 38px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	color: white;
	vertical-align: top;
}

.instagram-logo {padding-left: 9px; padding-top: 9px;}

.phone {
	background-image: url("img/phone.png");
	background-repeat: no-repeat;
	background-position: left center;
	color: white;
	padding-left: 34px;
	margin-top: 19px;
	font-size: 18px;
	letter-spacing: -0.36px;
}

.envelope {
	background-image: url("img/envelope.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 35px;
	margin-top: 23px;
	font-size: 18px;
	letter-spacing: -0.36px;
}

.footer-down {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.32px;
	line-height: 22px;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 13px;
	color: white;
	opacity: 0.4;
	text-align: center;
	border-top: 1px solid #ffffff;
}

@media (max-width: 1050px) {
	.footer-container {
		justify-content: space-between;
	}
}

@media (max-width: 1000px) {
	.fixed-container {
		display: flex;
		justify-content: space-around;
	}

	.header {padding-bottom: 20px;}

	.header-right {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.burger-icon {
		display: block;
		margin: 0 8px 5px 17px;
	}

	.fixed-container-header {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
	}

	.menu-container {display: none;}

	.mobile-menu {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100vh;
		background-color: white;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}

	.mobile-menu__open {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s, visibility 0.3s;	
	}

	.header-mobile {
		display: flex;
		justify-content: space-between;
		margin-top: 13px;
		margin-left: 25px;
	}

	.mobile-list {
		padding-left: 25px;
		margin-top: 0px;
		padding-top: 17px;
		list-style-type: none;
		padding-left: 0;
		font-size: 18px;
		box-shadow: 0px 6px 16px 0px #f1f1f1 inset;
	}

	.mobile-list li {
		text-align: center;
		padding-bottom: 10px;
		letter-spacing: -0.36px;
		padding-top: 9px;
		margin: 0 auto;
		border-bottom: 1px solid lightgrey;
		width: 120px;
	}

	.mobile-list li:last-child {
		border-bottom: none;
	} 

	.mobile-list a {
		text-decoration: none;
		color: black;
	}

	.mobile-logo {
		display: block;
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
		color: black;
		background-image: url("img/logo-globe-small.png");
		background-repeat: no-repeat;
		padding: 4px 0px 15px 34px;
		margin-left: 32px;
	}

	.mobile-search {
		display: block;
		background-image: url('https://banner2.kisspng.com/20180324/ukw/kisspng-magnifying-glass-computer-icons-magnifier-loupe-5ab62e7a2951b1.3568255815218888901693.jpg');
		background-size: 49%;
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		background-color: transparent;
		cursor: pointer;
		right: 13px;
		width: 30px;
		height: 25px;
		margin-bottom: 7px;
		margin-right: 9px;
		margin-left: 16px;
	}

	.top-section {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
		.central-section {order: -1;}
	
	.right-section {
		width: 100%;
		margin-top: 49px;
		margin-left: 25px;
		display: flex;
		justify-content: space-around;
		overflow-x: auto;
	}

	.advert-up {
		padding: 0;
	 	max-height: 400px;
	 	margin-right: 20px;
	 }

	 .advert-down img {max-height: 400px;}

	 .bottom-section {
		display: block;
		margin-top: 48px;
	}

	.btm-left-block {margin: 0 auto;}

	.btm-right-block {margin: 0 auto;}

	.footer-left-part {
		width: 50%;
		justify-content: space-around;
	}

	.footer-menu-right {margin-left: 53px;}

	.about-us {margin-left: 10px; padding-top: 29px;}

	.contacts-container {
		margin-left: 25px;
		padding-right: 20px;
		padding-top: 26px;
		margin-bottom: 23px;
	}
}

@media (max-width: 768px) {
	.block-weather {
		margin-right: 13px;
		padding-top: 3px;
	}

	.search {width: 50px;}

	.search input {display: none;}

	.left-section {
		margin: 50px 0 0px 0;
		width: 100%;
		display: block;
	}

	.day-news {
		text-align: center;
		margin: 0 25px 30px 25px;
	}

	.news-block {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.all-news-button {
		margin-bottom: 65px;
	}

	.all-news-button a {padding: 13px 96px 14px 96px}

	.detailed-news {display: none;}

	.footer-container {
		display: block;
		width: 100%;
		padding: 0;
	}

	.footer-up {padding: 0;}

	.footer-left-part {
		width: 100%;
		border-bottom: 1px solid #26354e;
	}

	.footer-menu-left {padding: 45px 0 20px 0;}

	.footer-menu-right {padding: 45px 0 20px 0;}

	.footer-right-part{
		width: 100%;
		justify-content: space-around;
		border-bottom: 1px solid #26354e;
	}

	.about-us {
		width: 85%;
		margin-left: 23px;
	}

	.footer-down {border: none;}
}

@media (max-width: 600px) {.btm-left-block {width: 100%;}}

@media (max-width: 520px) {
	.news-block {
		display: block;
		width: 100%;
	}

	.news-item {
		padding: 0;
		width: 270px;
		margin: 0 auto 23px auto;
	}

	.news-item-text {padding: 0;}
}

@media (max-width: 480px) {
	.fixed-container {padding: 0;
	}

	.mainwords {font-size: 13px;}

	.date {display: none;}

	.header {padding: 0;}

	.header-left {
		justify-content: space-around;
		padding-bottom: 2px;
	}

	.header-right {
		background-color: #f9f9f9;
		padding-top: 39px;
		padding-bottom: 30px;
		box-shadow: 0px 6px 16px 5px #f1f1f1 inset;
	}

	.fixed-container-header {
		display: block;
		padding: 0;
		margin-top: 10px;
	}

	.moscow {display: none;}

	.block-logo {display: none;}

	.small-logo{
		display: block;
	 	margin-left: 15px;
	 }

 	.logo-words {
		display: block;
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: -0.28px;
		color: black;
		background-image: url("img/logo-globe-small.png");
		background-repeat: no-repeat;
		padding: 4px 3px 10px 34px;
		margin-left: 3px;
	}

	.block-search {display: none;}

	.search-button-mobile {
		display: block;
		background-image: url('https://banner2.kisspng.com/20180324/ukw/kisspng-magnifying-glass-computer-icons-magnifier-loupe-5ab62e7a2951b1.3568255815218888901693.jpg');
		background-size: 49%;
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		background-color: transparent;
		cursor: pointer;
		right: 13px;
		width: 30px;
		height: 30px;
		margin-bottom: 7px;
		margin-right: 9px;
	}	

	.date-mobile {
		display: block;
		margin-left: 12px;
	}

	.time-mobile {
		display: block;
		padding-left: 23px;
		background-image: url('img/clock-mobile.png');
		background-repeat: no-repeat;
		margin-bottom: 2px;
	}

	.main-container {
		padding: 0;
		margin-bottom: 7px;
	}

	.text {
		padding: 50px 20px 20px 20px;
	}

	.title {
		font-size: 22px;
		line-height: 28px;
		letter-spacing: -0.44px;
	}

	.other-news {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding-top: 7px;
	}

	.other-news-text {
		padding-left: 14px;
		width: 285px;
		margin: 0 auto 13px auto;
		padding-right: 0;
	}

	.news-item__props {
		padding-left: 9px;
		width: 285px;
		margin: 0 auto;
		justify-content: flex-start;
	}

	.right-section {justify-content: flex-start;}

	.other-news-item1 {
		margin: 0 auto;
		width: 100%;
	}

	.other-news-item1 a img {
		width: 100%;
		margin-top: 19px;
	}

	.other-news-item2 {
		margin: 0 auto;
		width: 100%;
	}

	.other-news-item2 a img {
		width: 100%;
		margin-top: 19px;
		padding-top: 8px;

	}

	.other-news-item3 {
		width: 100%;
		margin-right: 0;
	}

	.other-news-item3 a img {
		width: 100%;
		margin-top: 28px;
	}

	.other-news-item4 {
		margin: 0 auto;
		width: 100%;
	}

	.other-news-item4 a img {
		width: 100%;
		margin-top: 28px;
	}

	.btm-left-text {
		width: 80%;
		padding-top: 40px;
	}

	.btm-left-title {
		font-size: 22px;
		width: 281px;
		margin-top: 15px;
	}

	.btm-right-block {width: 100%;}

	.btm-day-news {
		padding-left: 4px;
		padding-top: 2px;
		margin-left: 18px;
		margin-right: 5px;
		width: 85%;
	}

	.btm-news-item {
		padding-right: 18px;
		padding-left: 25px;
	}

	.btm-news-blocks {margin-bottom: 10px;}

	.btm-news-blocks:nth-child(2) {
		margin-top: 22px;
	}

	.btm-news-item-text {
		width: 100%;
		padding: 0;
	}

	.footer-left-part {justify-content: flex-start;}

	.footer-menu-left {
		margin-left: 25px;
		padding-bottom: 5px;
	}

	.footer-menu-left li {margin-bottom: 17px;}

	.footer-menu-right li {margin-bottom: 17px;}

	.footer-right-part {display: block;}

	.about-us-menu ul {
		padding-top: 5px;
		display: flex;
		flex-wrap: wrap;
  		align-items: flex-start;
  		height: 100%
	}
	.about-us-menu li {width: 30%;}

	.about-us-menu li {
		margin-right: 48px;
		margin-bottom: 19px;
	}

	.contacts-container {padding-top: 15px;}

	.footer-down {
		padding-left: 25px;
		text-align: left;
		margin-right: 60px;
		padding-bottom: 27px;
		padding-top: 22px;
	}
}

@media (max-width: 360px) {
	.day-news {
		padding-left: 0;
		padding-top: 42px;
		text-align: left;
	}

	.header-mobile {justify-content: flex-start;}

	.mobile-list li {
		text-align: left;
		margin: 0 0 0 24px;
		width: 270px;
	}
}